body{
    background-image: url(image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
button{
    border-radius: 20px;
    font-size: 25px;
    line-height: 45px;
    border: 1px solid black;
    margin: 0 10 0 10;
}
h4{
    font-size: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-shadow: 5px 5px 5px rgba(206, 129, 129, 0.904);
    font-style: italic;
    animation: highlightname 3s infinite;
}
@keyframes highlightname{
    0%{color: rgb(0, 0, 0);}
    25%{color: rgba(255, 0, 0, 0.815);}
    50%{color: rgba(0, 255, 0, 0.904);}
    75%{color: rgba(0, 0, 255, 0.904);}
    100%{color: rgba(255, 255, 255, .658);}
}
.clickme{
    font-size: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    text-shadow: 5px 5px 5px rgba(206, 129, 129, 0.904);
    font-style: italic;
}
.btn{
    height: 100px;
    width: 100px;
    border: none;
    margin: 10px;
    background-color: green;
    border-radius: 50px;
    cursor: pointer;
}
.image{
    height: 75px;
}
.Restart{
    margin-left: 600px;
    background-color: transparent;
    color: black;
}
